<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="BookStoreDB"
			 connectionString="
			 Data Source=STHQ012C-14;
             Initial Catalog=BookStore;
             User ID=admin;
             Password=admin;
             Encrypt=True;
             TrustServerCertificate=True;
             Integrated Security=False"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>